.switch {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 2px;
  vertical-align: middle;
  background: #333;
  transition: background .3s;

  &::before {
    position: absolute;
    top: -5px;
    display: block;
    width: 100%;
    height: 100%;
    background: #333;
    transition: transform .3s;
    content: '';
  }

  &::after {
    position: absolute;
    top: 5px;
    display: block;
    width: 100%;
    height: 100%;
    background: #333;
    transition: transform .3s;
    content: '';
  }

  &.opened {
    background: transparent;

    &::before {
      transform: translateY(5px) rotate(45deg);
    }

    &::after {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
}