@popper-prefix: ~"@{prefix}-popper";

@arrow-size: 7px;

.@{popper-prefix} {
  border: @border-width @border-style transparent;
  border-radius: @border-radius-base;
  box-shadow: @box-shadow-1;

  .@{popper-prefix}-arrow {
    position: absolute;
    bottom: -@arrow-size;
    width: 0;
    height: 0;
    border: @arrow-size solid transparent;

    &::after {
      position: absolute;
      z-index: 2;
      display: block;
      border: @arrow-size solid transparent;
      content: '';
    }
  }

  .@{popper-prefix}-inner {
    width: 100%;
    overflow: scroll;
  }

  &[data-placement^="top"] {
    margin-bottom: @arrow-size;

    .@{popper-prefix}-arrow {
      bottom: -@arrow-size * 2;

      &::after {
        bottom: -@arrow-size + 1;
        left: -@arrow-size;
      }
    }
  }

  &[data-placement^="left"] {
    margin-right: @arrow-size;

    .@{popper-prefix}-arrow {
      right: -@arrow-size * 2;

      &::after {
        right: -@arrow-size + 1;
        bottom: -@arrow-size;
      }
    }
  }

  &[data-placement^="right"] {
    margin-left: @arrow-size;

    .@{popper-prefix}-arrow {
      left: -@arrow-size * 2;

      &::after {
        bottom: -@arrow-size;
        left: -@arrow-size + 1;
      }
    }
  }

  &[data-placement^="bottom"] {
    margin-top: @arrow-size;

    .@{popper-prefix}-arrow {
      top: -@arrow-size * 2;

      &::after {
        top: -@arrow-size + 1;
        left: -@arrow-size;
      }
    }
  }

  .popper-placement-color(@basic-color-grey-dark, @basic-color-white-base, @border-color);

  &.@{popper-prefix}-dark {
    .popper-placement-color(@basic-color-white-base, @basic-color-black-base, @basic-color-black-base);
  }
}

.popper-placement-color(@color, @bg-color, @border-color) {
  color: @color;
  background: @bg-color;
  border-color: @border-color;

  &[data-placement^="top"] {
    .@{popper-prefix}-arrow {
      border-top-color: @border-color;

      &::after {
        border-top-color: @bg-color;
      }
    }
  }

  &[data-placement^="left"] {
    .@{popper-prefix}-arrow {
      border-left-color: @border-color;

      &::after {
        border-left-color: @bg-color;
      }
    }
  }

  &[data-placement^="right"] {
    .@{popper-prefix}-arrow {
      border-right-color: @border-color;

      &::after {
        border-right-color: @bg-color;
      }
    }
  }

  &[data-placement^="bottom"] {
    .@{popper-prefix}-arrow {
      border-bottom-color: @border-color;

      &::after {
        border-bottom-color: @bg-color;
      }
    }
  }
}
